In [1]:
import pandas as pd
import csv
import unicodecsv as csv
import json

df = json.load(open("C:/Users/SAI-PC/train.json"))
#df.to_csv(train.csv)

In [2]:
df1 = pd.DataFrame(df['images'])
df2 = pd.DataFrame(df['annotations'])
#df.to_csv(train.csv)

In [3]:
df1.head()

  imageId                                                url
0       1  https://contestimg.wish.com/api/webimage/570f3...
1       2  https://contestimg.wish.com/api/webimage/5468f...
2       3  https://contestimg.wish.com/api/webimage/54641...
3       4  https://contestimg.wish.com/api/webimage/550b9...
4       5  https://contestimg.wish.com/api/webimage/54451...

In [4]:
df2.head()

  imageId                                      labelId
0       1                        [95, 66, 137, 70, 20]
1       2                  [36, 66, 44, 214, 105, 133]
2       3                 [170, 66, 97, 153, 105, 138]
3       4                       [18, 66, 44, 153, 164]
4       5  [189, 66, 176, 137, 153, 74, 181, 171, 138]

In [5]:
train=pd.merge(df1, df2, on='imageId', how='inner')
train[1:10]

,imageId,url,labelId
1,2,https://contestimg.wish.com/api/webimage/5468f...,"[36, 66, 44, 214, 105, 133]"
2,3,https://contestimg.wish.com/api/webimage/54641...,"[170, 66, 97, 153, 105, 138]"
3,4,https://contestimg.wish.com/api/webimage/550b9...,"[18, 66, 44, 153, 164]"
4,5,https://contestimg.wish.com/api/webimage/54451...,"[189, 66, 176, 137, 153, 74, 181, 171, 138]"
5,6,https://contestimg.wish.com/api/webimage/571e0...,"[190, 106, 53, 153, 164, 184]"
6,7,https://contestimg.wish.com/api/webimage/52cbe...,"[114, 222, 113, 176, 214, 87]"
7,8,https://contestimg.wish.com/api/webimage/53994...,"[18, 17, 66, 44, 98, 49, 110, 105]"
8,9,https://contestimg.wish.com/api/webimage/56717...,"[66, 97, 153, 181, 105, 218]"
9,10,https://contestimg.wish.com/api/webimage/562e4...,"[91, 66, 59, 49, 151, 105, 225]"

In [6]:
train[1:1000].to_csv('train1.csv')

In [7]:
train_data = pd.read_csv('C:/Users/SAI-PC/train1.csv')    
train_data[1:5]

,Unnamed: 0,imageId,url,labelId
1,2,3,https://contestimg.wish.com/api/webimage/54641...,"['170', '66', '97', '153', '105', '138']"
2,3,4,https://contestimg.wish.com/api/webimage/550b9...,"['18', '66', '44', '153', '164']"
3,4,5,https://contestimg.wish.com/api/webimage/54451...,"['189', '66', '176', '137', '153', '74', '181'..."
4,5,6,https://contestimg.wish.com/api/webimage/571e0...,"['190', '106', '53', '153', '164', '184']"

In [8]:
#Droping uneccesary columns: 
train1_data = train_data.drop(["Unnamed: 0"], axis =1)
train1_data[1:5]

,imageId,url,labelId
1,3,https://contestimg.wish.com/api/webimage/54641...,"['170', '66', '97', '153', '105', '138']"
2,4,https://contestimg.wish.com/api/webimage/550b9...,"['18', '66', '44', '153', '164']"
3,5,https://contestimg.wish.com/api/webimage/54451...,"['189', '66', '176', '137', '153', '74', '181'..."
4,6,https://contestimg.wish.com/api/webimage/571e0...,"['190', '106', '53', '153', '164', '184']"

In [9]:
train1_data.head()

,imageId,url,labelId
0,2,https://contestimg.wish.com/api/webimage/5468f...,"['36', '66', '44', '214', '105', '133']"
1,3,https://contestimg.wish.com/api/webimage/54641...,"['170', '66', '97', '153', '105', '138']"
2,4,https://contestimg.wish.com/api/webimage/550b9...,"['18', '66', '44', '153', '164']"
3,5,https://contestimg.wish.com/api/webimage/54451...,"['189', '66', '176', '137', '153', '74', '181'..."
4,6,https://contestimg.wish.com/api/webimage/571e0...,"['190', '106', '53', '153', '164', '184']"

In [10]:
import time
script_start_time = time.time()

print('%0.2f min: Start converting label'%((time.time() - script_start_time)/60))
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
train_label = mlb.fit_transform(train1_data['labelId'])
#validation_label = mlb.transform(validation['labelId'])
dummy_label_col = list(mlb.classes_)
print(dummy_label_col)
print('%0.2f min: Finish converting label'%((time.time() - script_start_time)/60))

#for data in [validation_label, train_label, test]:
  #  print(data.shape)

0.00 min: Start converting label
[' ', "'", ',', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '[', ']']
0.01 min: Finish converting label

In [11]:
for data in [train_label]:
    print(data.shape)

(999, 15)

In [12]:
# Save as numpy
dummy_label_col = pd.DataFrame(columns = dummy_label_col)
# dummy_label_col.to_csv('%s/dummy_label_col.csv'%'', index = False)
# np.save('%s/dummy_label_train.npy' % '', train_label)
# np.save('%s/dummy_label_val.npy' % '', validation_label)
dummy_label_col.head()

Empty DataFrame
Columns: [ , ', ,, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [, ]]
Index: []

In [13]:
# Save as csv if you prefer
train_label = pd.DataFrame(data = train_label, columns = list(mlb.classes_))
train_label.head()

      '  ,  0  1  2  3  4  5  6  7  8  9  [  ]
0  1  1  1  1  1  1  1  1  1  1  0  0  0  1  1
1  1  1  1  1  1  0  1  0  1  1  1  1  1  1  1
2  1  1  1  0  1  0  1  1  1  1  0  1  0  1  1
3  1  1  1  0  1  0  1  1  1  1  1  1  1  1  1
4  1  1  1  1  1  0  1  1  1  1  0  1  1  1  1

In [15]:
!pip install keras tensorflow

Requirement already satisfied: keras in c:\users\sai-pc\anaconda3\lib\site-packages (2.1.6)
Collecting tensorflow
  Downloading https://files.pythonhosted.org/packages/f4/88/980d7032b7408fcca5b0b8d420fcd97919197a9e7acf280ab74fc7db6993/tensorflow-1.8.0-cp36-cp36m-win_amd64.whl (34.4MB)
Requirement already satisfied: h5py in c:\users\sai-pc\anaconda3\lib\site-packages (from keras) (2.7.1)
Requirement already satisfied: scipy>=0.14 in c:\users\sai-pc\anaconda3\lib\site-packages (from keras) (1.0.0)
Requirement already satisfied: numpy>=1.9.1 in c:\users\sai-pc\anaconda3\lib\site-packages (from keras) (1.14.0)
Requirement already satisfied: pyyaml in c:\users\sai-pc\anaconda3\lib\site-packages (from keras) (3.12)
Requirement already satisfied: six>=1.9.0 in c:\users\sai-pc\anaconda3\lib\site-packages (from keras) (1.11.0)
Requirement already satisfied: wheel>=0.26 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorflow) (0.31.0)
Requirement already satisfied: astor>=0.6.0 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorflow) (0.6.2)
Collecting tensorboard<1.9.0,>=1.8.0 (from tensorflow)
  Using cached https://files.pythonhosted.org/packages/59/a6/0ae6092b7542cfedba6b2a1c9b8dceaf278238c39484f3ba03b03f07803c/tensorboard-1.8.0-py3-none-any.whl
Requirement already satisfied: termcolor>=1.1.0 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorflow) (1.11.0)
Requirement already satisfied: protobuf>=3.4.0 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorflow) (3.5.2.post1)
Requirement already satisfied: absl-py>=0.1.6 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Collecting gast>=0.2.0 (from tensorflow)
Collecting bleach==1.5.0 (from tensorboard<1.9.0,>=1.8.0->tensorflow)
  Using cached https://files.pythonhosted.org/packages/33/70/86c5fec937ea4964184d4d6c4f0b9551564f821e1c3575907639036d9b90/bleach-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: werkzeug>=0.11.10 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow) (0.14.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\sai-pc\anaconda3\lib\site-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow) (2.6.11)
Collecting html5lib==0.9999999 (from tensorboard<1.9.0,>=1.8.0->tensorflow)
Requirement already satisfied: setuptools in c:\users\sai-pc\anaconda3\lib\site-packages (from protobuf>=3.4.0->tensorflow) (39.1.0)
Installing collected packages: html5lib, bleach, tensorboard, gast, tensorflow
  Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Found existing installation: bleach 2.1.2
    Uninstalling bleach-2.1.2:
      Successfully uninstalled bleach-2.1.2
Successfully installed bleach-1.5.0 gast-0.2.0 html5lib-0.9999999 tensorboard-1.8.0 tensorflow-1.8.0

notebook 5.4.0 requires ipykernel, which is not installed.
jupyter 1.0.0 requires ipykernel, which is not installed.
jupyter-console 5.2.0 requires ipykernel, which is not installed.
ipywidgets 7.1.1 requires ipykernel>=4.5.1, which is not installed.

In [16]:
from keras.models import Sequential  # initial NN
from keras.layers import Dense, Dropout # construct each layer
from keras.layers import Convolution2D # swipe across the image by 1
from keras.layers import MaxPooling2D # swipe across by pool size
from keras.layers import Flatten

Using TensorFlow backend.

In [17]:
from keras import backend as K
import tensorflow as tf

#Other stuff...

model = Sequential()

# retifier ensure the non-linearity in the processing 
model.add(Convolution2D (filters = 64, kernel_size = (4,4),padding = 'Same', 
                         activation ='relu', input_shape = (img_rows, img_cols, num_channel))) 
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Convolution2D (filters = 64, kernel_size = (4,4),padding = 'Same', 
                         activation ='relu')) 
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Flatten()) 
# fully connected ANN 
model.add(Dense(units = 120, activation = 'relu')) 
# output layer
model.add(Dense(units = 120, activation = 'softmax'))

NameError: name 'img_rows' is not defined